<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="container">
        <h2 class="text-center">My Heroes</h2>
        <ul class="heroes mx-auto">
          <li *ngFor="let hero of heroes">
            <a href routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <label for="new-hero">Hero name: </label>
        <input id="new-hero" #heroName />
      
        <!-- (click) passes input value to add() and then clears the input -->
        <button class="add-button" (click)="add(heroName.value); heroName.value=''">
          Add hero
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <app-messages></app-messages>
      </div>
    </div>
  </div>
</div>




